/.idea/vcs.xml
/.idea/workspace.xml
/build
/nbproject
/node_modules
/public/build
/public/hot
/public/storage
/vendor
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
.phpunit.result.cache
phpunit.xml
testbench.yaml
