// Bootstrap
// ----------------------------------------------------------
// Override variables
$toast-max-width: 500px;
$toast-header-color: white;

// Import Bootstrap source
@import '~bootstrap/scss/bootstrap';

.toast-container {
    .toast {
        .toast-header {
            strong {
                margin-left: 5px;
            }
        }

        &.toast-info .toast-header {
            background-color: $info;
            color: #343a40;
        }

        &.toast-success .toast-header {
            background-color: $success;
        }

        &.toast-danger .toast-header {
            background-color: $danger;
        }

        &.toast-warning .toast-header {
            background-color: $warning;
            color: #343a40;
        }
    }
}

.form-element {
    margin-bottom: 1rem;
    &:last-child {
        margin-bottom: 0;
    }
}

.datagrid {
    .table {
        thead {
            th {
                .column-sort {
                    cursor: pointer;
                    .column-sort-dir {
                        font-size: $font-size-sm;
                    }
                    &:hover {
                        color: $gray-700;
                    }
                }
            }
        }
    }
}
