// Bootstrap
// ----------------------------------------------------------
// Override variables
$toast-max-width: 500px;
$toast-header-color: white;

// Import Bootstrap source
@import '~bootstrap/scss/bootstrap';

.toast-container {
    .toast {
        .toast-header {
            strong {
                margin-left: 5px;
            }
        }

        &.toast-info .toast-header {
            background-color: $info;
            color: #343a40;
        }

        &.toast-success .toast-header {
            background-color: $success;
        }

        &.toast-danger .toast-header {
            background-color: $danger;
        }

        &.toast-warning .toast-header {
            background-color: $warning;
            color: #343a40;
        }
    }
}

.form-group {
    margin-bottom: 1rem;
    &:last-child {
        margin-bottom: 0;
    }
    &.is-invalid {
        color: $danger;
    }
    .form-label {
        .required {
            color: $danger;
        }
    }
}

.datagrid {
    .table {
        thead {
            th {
                .column-sort {
                    cursor: pointer;
                    .column-sort-dir {
                        font-size: $font-size-sm;
                    }
                    &:hover {
                        color: $gray-700;
                    }
                }
            }
        }
        tfoot {
            .grid-pagination {
                .input-group {
                    max-width: 200px;
                }
            }
            .grid-page-info {
                font-size: $font-size-sm;
                text-align: right;
            }
            .grid-per-page {
                float: right;
                .form-label {
                    font-size: $font-size-sm;
                    margin-bottom: 0;
                }
                .form-select {
                    display: inline-block;
                    width: unset;
                }
            }
        }
    }
}
